* {
  margin: 0;
}
.episodes {
  display: flex;
  flex-direction: row, column;
  flex-wrap: wrap;
  /* justify-content: space-around;
    align-content: space-around; */
  background-color: bisque;
  /* align-items: flex-start; */
  padding: 10px 0px 20px 130px;
}

.episode {
  /* order: 0; */
  width: 300px;
  height: auto;
  margin: 10px;
  background-color: rgb(204, 124, 124);
  align-self: flex-start;
  border-radius: 5px;
}

.title {
  border: solid rgb(141, 45, 45) 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
  font-family: "Merienda", cursive;
  padding: 5px;
}

.medium-image {
  display: block;
  margin: 15px auto;
  height: auto;
  max-width: fit-content;
}

.summary {
  padding: 2px 12px 5px;
  font-family: "Merienda", cursive;
}

.form {
  margin: 10px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.search-input {
  display: inline-flex;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(245, 223, 216);
  border-color: rgb(204, 124, 124);
  padding-left: 20px;
  height: 25px;
}
.search-label {
  font-family: "Merienda", cursive;
  padding: 5px 20px;
}
.search-button {
  font-size: medium;
  background-color: rgb(221, 40, 76);
  padding: 2px;
  border-radius: 7px;
  border-color: rgb(221, 40, 76);
}

#root {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.episodes-dropdown {
  display: inline-flex;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(245, 223, 216);
  border-color: rgb(204, 124, 124);
  height: 30px;
  padding-right: 30px;
}
