* {
  margin: 0;
}
.episodes {
  display: flex;
  flex-direction: row, column;
  flex-wrap: wrap;
  /* justify-content: space-around;
    align-content: space-around; */
  background-color: bisque;
  /* align-items: flex-start; */
  padding: 10px 0px 20px 130px;
}

.episode {
  /* order: 0; */
  width: 300px;
  height: auto;
  margin: 10px;
  background-color: rgb(204, 124, 124);
  align-self: flex-start;
  border-radius: 5px;
}

.title {
  border: solid rgb(141, 45, 45) 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
  font-family: "Merienda", cursive;
  padding: 5px;
}

.medium-image {
  display: block;
  margin: 15px auto;
}

.summary {
  padding: 2px 12px 5px;
  font-family: "Merienda", cursive;
}
